.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  top:0; left: 0; bottom: 0; right: 0; 
}

.sidemenu {
  width: 240px;
  padding: 10px;
  background-color: #202123;
}

.sidemenu-new-button {
  padding: 12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  transition: ease 0.2s all;
}

.sidemenu-new-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidemenu-new-button span {
  padding-left: 10px;
  padding-right: 12px;

}

/*................................................................................................................................ */
.models {
  margin-top: 40px;
}

.models-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.models select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.models select:focus {
  outline: none;
  border-color: #4d90fe;
}


/* ................................................................................................................................ */

.chatbox {
  flex: 1;
  background-color: #343541;
  position: relative;
}

.chat-log {
  text-align: left;
}

.chat-message.chatgpt {
  background-color: #444654;
}

.chat-message-center {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding:12px; 
  padding-left: 24px;
  padding-right: 24px;
}

.avatar {
  background: white;
  border-radius:50%;
  width: 40px;
  height: 40px;
}

.avatar.chatgpt {
  background: #0da37f;
  border-radius:50%;
  width: 40px;
  height: 40px;
}

.message {  
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

/* ................................................................................................................................ */

.chat-input {
  padding:24px;
  position:absolute;
  bottom: 0; left: 0; right: 0; 
}

.chat-input-textarea {
  background-color: #40414f;
  width:60%;
  padding:12px;
  border-radius:5px;
  color: white;
  font-size:1.25em;
  border:none;
  outline:none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}